
include collider.py combinations.cpp setup.py getNonUis.cpp rangetree.cpp 
include run_small.py runcollider.py
include *.cpp *.h
include test/*.py
include cgi-scripts/* css/*
include external/DDB.py external/progress.py Residues.py

