body {  
  /*
   * create a dark brown background
  */
  background-color: #8B542B;
  color: #801313; 
} 

div.whole {
    /*
     * and a light brown middle piece
    */
    background: #EADEAA;

}

div.header {
    background: #D58440;
}

.navigation span a { color: #801313; }
.active-nav a { background-color: #EADEAA; }
.inactive-nav a { background-color: #D5A480; }
.inactive-nav :hover { background-color: #EADEAA; }


