body {  
  background-color: #fff; 
  color: #801313; 
  font-family: sans-serif; 
  font-size:   13px; 
  line-height: 18px; 
  text-align: center;
  /* If the body should not be centered but on the left
  max-width : 1000px;
  */
} 

div.whole {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5em;
    padding: 20px;
    max-width : 700px;

    border-width: 1px;
    border-color: #555;
    border-style: solid;
}

.header {
    padding-top: 40px;
    padding-bottom: 40px;
    vertical-align: middle;

    padding-right: 20px;
    padding-left: 20px;

    font-size:50px;
}
div.version {
    float: right;
    font-size: 11px;
    text-align: right;

    position: relative;
    top: -80;
    /*
    top: -66;
    */
    right: 10;
}

div.main {
    text-align: left;
}


/*
 *
 *   Only for input
*/

.number_input{
    width: 150px;
}
label.mylabel{
    width : 300px;
    float: left;
}
textarea#pep_input {
    width: 100%;
}


/*
 *
 * Only for results
*/
div.toc{

    border-width: 1px;
    border-color: #555;
    border-style: solid;
    margin: 50px;

}

h2 {
    margin-top: 2.5em;
}

div.pep_property p {
    margin: 0px;
}

table.tr_table {
  font-size:15px; 
  width: 50%;
}

table.col_table {
  font-size:11px; 
}

div#about-content {
    margin-top: 20px;
}

p {
    text-align: justify;
}

.header a {

  color: #801313; 
  text-decoration: none;
}
